* {font-family:  monospace;
    background-color:white;
}
h3 {
    color: black;
    text-decoration: underline;
}

h1 {
    color: #b92b27;
}
/* id selector */
#login {
    color: white;
    background-color: #b92b27;
}
#login:hover{
    font-weight: bold;
}
#login:active{
    background-color: #ff0800;
}
#signup {
    color: white;
    background-color: #b92b27;
}
#signup:hover{
    font-weight: bold;
}
#signup:active{
    background-color: #ff0800;

}
/* class selector */
.upvote {
    color: white;
    background-color: green;
}
.answer {
    color: white;
    background-color: rgb(83, 200, 246);
}
/*descendant selector */
p a {
    color: purple;
    background-color: yellow;
}
p a:hover{
    letter-spacing: 0.2px;
}
p a:active{
    background-color:orange;
}
nav ul li a {
    text-decoration: none;
    
    
}

input[type="text"] 
{
    color: red;
}
input[type="password"] {
    color: green;  
}
div > input{
    background-color :yellow;
}
.upvote:hover,.answer:hover {
    background-color: black;
    color: white;
}
h3:hover{
    text-decoration: none;
}
.upvote:active,.answer:active
{
    background-color: hotpink;
    color: black;
}

.post:nth-of-type() {
    background-color: blanchedalmond;
}
h1::first-letter{
    font-size: 2opx;
}