<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/new-chat.css">
</head>
<body>
    <div>
        <h2>New Chat</h2>
        <form method="post" action="/chats/new">
            <input type="text" name="from" placeholder="Enter your name">
            <br><br>
            <textarea name="message" placeholder="Write a Message...."></textarea>
            <br><br>
            <input type="text" name="to" placeholder="to send">
            <br><br>
            <button>Send</button>
        </form>
    </div>
</body>
</html>