<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home page</h1>
    <h2>
        <ul>
            <li>For Instagram username use rout - /ig/username</li>
            <li>for Instagram Profile page use rout - /ig/profile/username</li>
        </ul>
    </h2>
</body>
</html>